<div class="container text-center">
  <div class="row">
    <div class="col text-start col-sm-12 col-xs-12 col-md-12 col-lg-6 contact">
      <h2 class="text-start">Contact us</h2>
      <p id="textContact">Lorem ipsum dolor sit amet consectetur adipisicing elit. aorem ipsum dolor sit amet consectetur adipisicing</p>
      <p>Email : javierjorge77@gmail.com</p>
      <p>Phone : (+52)8711-777-903</p>
      <p>Address : Leandro valle #278nte col centro CP 27000</p>
    </div>
    <div class="col text-start col-sm-12 col-xs-12 col-md-12 col-lg-6" style="margin-top: 50px;" >
      <form class="row g-3">
        <div class="col-md-6">
            <label for="name" class="form-label">Your Name</label>
            <input type="text" class="form-control transparent-input" id="name">
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Your email</label>
            <input type="email" class="form-control transparent-input" id="email">
        </div>
        <div class=" col-12">
            <label for="floatingTextarea2" class="form-label">Comments</label>
            <textarea class="form-control transparent-input" id="floatingTextarea2" style="height: 180px"></textarea>
        </div>
      
        <div class="col-12">
            <button type="submit" class="btn">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>