<div class="container reveal">
    <h2>Check our pricing</h2>
    <div class="container text-center">
        <div class="row pricings justify-content-center">
            <div class="col col-md-5 col-sm-12 col-xs-12 col-lg-3 col-xxl-3">
                <h3>STARTUP</h3>
                <p> <strong>$ <span id="priceOne">0</span> / MO</strong> </p>
                <ul style="display: block;">
                    <li>Up to 5 Documents</li>
                    <li>Up to 3 reviews</li>
                    <li>5 team Members</li>
                    <li>Limited Support</li>
                </ul>
                <button>Get Free</button>
            </div>
            <div class="col col-md-5 col-sm-12 col-xs-12 col col-lg-3 col-xxl-3" id="middleCol">
                <h3>PREMIUM</h3>
                <p> <strong>$ <span id="priceTwo">10</span> / MO</strong> </p>
                <ul  style="display: block;">
                    <li>Up to 5 Documents</li>
                    <li>Up to 3 reviews</li>
                    <li>5 team Members</li>
                    <li>Limited Support</li>
                </ul>
                <button>Get Free</button>
            </div>
            <div class="col col-md-5 col-sm-12 col-xs-12 col col-lg-3 col-xxl-3">
                <h3>PROFESSIONAL</h3>
                <p> <strong>$ <span id="priceThree">30</span> / MO</strong> </p>
                <ul  style="display: block;">
                    <li>Up to 5 Documents</li>
                    <li>Up to 3 reviews</li>
                    <li>5 team Members</li>
                    <li>Limited Support</li>
                </ul>
                <button>Get Free</button>
            </div>
        </div>
    </div>    
</div>