<div class="container reveal">
    <h2>Check our pricing</h2>
    <div class="container text-center">
        <div class="row pricings justify-content-center">
            <div class="col col-md-5 col-sm-12 col-xs-12 col-lg-3 col-xxl-3">
                <h3>Data Science</h3>
                <p> <strong>$ <span id="priceOne">50</span> / MO</strong> </p>
                <ul style="display: block;">
                    <li>Machine Learning</li>
                    <li>Decision Trees</li>
                    <li>Forecasting & Time Series</li>
                    <li>Deep Learning</li>
                    <li>Recomendation Systems</li>
                </ul>
                <button>Contact Us</button>
            </div>
            <div class="col col-md-5 col-sm-12 col-xs-12 col col-lg-3 col-xxl-3" id="middleCol">
                <h3>Web Development</h3>
                <p> <strong>$ <span id="priceTwo">30</span> / MO</strong> </p>
                <ul  style="display: block;">
                    <li>Startup and MVP</li>
                    <li>HTML, CSS, JS</li>
                    <li>Ruby on Rails</li>
                    <li>React</li>
                    <li>Node JS</li>
                </ul>
                <button>Contact Us</button>
            </div>
            <div class="col col-md-5 col-sm-12 col-xs-12 col col-lg-3 col-xxl-3">
                <h3>Business</h3>
                <p> <strong>$ <span id="priceThree">60</span> / MO</strong> </p>
                <ul  style="display: block;">
                    <li>Financial Analysis</li>
                    <li>Marketing</li>
                    <li>Business Strategy</li>
                    <li>Human Resources</li>
                    <li>Marketing</li>
                </ul>
                <button>Contact Us</button>
            </div>
        </div>
    </div>    
</div>