<div class="container reveal">
    <h2>Services</h2>
    <div class="container text-center">
        <div class="row first-section-row">
            <div class="col m-5">
                <i class="fa-brands fa-html5"></i>
                <div>
                    <h3 >Web Development</h3>
                </div>
                <p>We boost your online presence with creative and functional web development. 
                    Launch your Startup, get new customers, and develop those big ideas that you have in mind.
                </p>
                <%# <button>Learn More</button> %>
            </div>
            <div class="col m-5">
                <i class="fa-solid fa-robot"></i>
                <div>
                    <h3>Data Science</h3> 
                </div>
                <p>Discover valuable information and make strategic decisions based on data with our data science service. Optimize your performance and maximize your results with the power of Technology </p>
                <%# <button>Learn More</button> %>
            </div>
            <div class="col m-5">
                <i class="fa-solid fa-rocket"></i>
                <div>
                    <h3 >Business Consulting</h3>
                </div> 
                <p>Boost the growth and efficiency of your business with our expert consulting. We identify opportunities and design customized strategies to achieve your goals.</p>
                <%# <button>Learn More</button> %>
            </div>
        </div>
    </div>
</div>