<section>
    <h1>Reveal elements on scroll</h1>
</section>
<section>
    <div class="container reveal">
        <h2>Your title</h2>
        <div class="cards">
            <div class="text-card">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quo placeat tempore optio voluptas odio veritatis quos repudiandae eaque itaque?</p>
            </div>
            <div class="text-card">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quo placeat tempore optio voluptas odio veritatis quos repudiandae eaque itaque?</p>
            </div>
            <div class="text-card">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quo placeat tempore optio voluptas odio veritatis quos repudiandae eaque itaque?</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container reveal">
        <h2>Your title</h2>
        <div class="cards">
            <div class="text-card">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quo placeat tempore optio voluptas odio veritatis quos repudiandae eaque itaque?</p>
            </div>
            <div class="text-card">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quo placeat tempore optio voluptas odio veritatis quos repudiandae eaque itaque?</p>
            </div>
            <div class="text-card">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quo placeat tempore optio voluptas odio veritatis quos repudiandae eaque itaque?</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container reveal">
        <h2>Your title</h2>
        <div class="cards">
            <div class="text-card">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quo placeat tempore optio voluptas odio veritatis quos repudiandae eaque itaque?</p>
            </div>
            <div class="text-card">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quo placeat tempore optio voluptas odio veritatis quos repudiandae eaque itaque?</p>
            </div>
            <div class="text-card">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quo placeat tempore optio voluptas odio veritatis quos repudiandae eaque itaque?</p>
            </div>
        </div>
    </div>
</section>