@import "bootstrap/dist/css/bootstrap";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --bg-color: #222327;
  --text-color: #fff;
  --main-color: #29fd53;
}

body {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

ul {
  margin-bottom: 0 !important;
  padding: 0 !important;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 28px 12%;
  transition: all 0.5s ease;
}

.logo {
  display: flex;
  align-items: center;
}

.logo i {
  color: var(--main-color);
  font-size: 28px;
  margin-right: 3px;
}

.logo span {
  color: var(--text-color);
  font-size: 1.7rem;
  font-weight: 600;
}

.navegacion {
  display: flex;
  align-items: center;
}

.navegacion a {
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0 30px;
  transition: all 0.5s ease;
}

.navegacion a:hover {
  color: var(--main-color);
}

.navegacion a.active {
  color: var(--main-color);
}

.main {
  display: flex;
  align-items: center;
}

.main a {
  margin-right: 25px;
  margin-left: 10px;
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.5s ease;
}

.user {
  display: flex;
  align-items: center;
}

.user i {
  color: var(--main-color);
  font-size: 28px;
  margin-right: 7px;
}

.main a:hover {
  color: var(--main-color);
}

#menu-icon {
  font-size: 30px;
  color: var(--text-color);
  cursor: pointer;
  z-index: 10001;
  display: none;
}

@media (max-width: 1280px) {
  header {
    padding: 14px 2%;
    transition: 0.2s;
  }

  .navegacion a {
    padding: 5px 0;
    margin: 0px 20px;
  }
}

@media (max-width: 1090px) {
  #menu-icon {
    display: block;
  }

  .navegacion {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    height: 29vh;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all 0.5s ease;
  }
  .navegacion a {
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all 0.5s ease;
  }

  .navegacion a:hover {
    color: var(--text-color);
    transform: translateY(5px);
  }

  .navegacion a.active {
    color: var(--text-color);
  }
  .navegacion.open {
    right: 2%;
  }
}

section {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(2) {
  color: #fff;
}

section:nth-child(3) {
  color: #222327;
  background: #fff;
}

section:nth-child(4) {
  color: #fff;
}

section:nth-child(5) {
  color: #222327;
  background: #fff;
}

section h1 {
  font-size: 5rem;
}

section h2 {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

section .cards {
  display: flex;
}
section .cards .text-card {
  background: #2696e9;
  margin: 20px;
  padding: 20px;
}

section .cards .text-card h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 40px;
  }

  section .cards {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1.5s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
