<div class="container text-light text-center" >
<div class="text-center"> 
    <div class="display-3 mb-1"><%= image_tag("gemhackWhiteLogo.png", alt: "", id: "imageFooter")%> </div> 
    <p> <a href="https://www.facebook.com/profile.php?id=100091530519976"><span><i class="fa-brands fa-facebook-f"></i></span></a>  <a href="https://www.instagram.com/gemhack.io/"><span><i class="fa-brands fa-instagram"></i></span></a> </p>
    <small class="text-white-50">&copy; Copyright All rights reserved.</small>
</div>
</div>