<nav>
    <div class="logo"> <%= image_tag("gemhackWhiteLogo.png", alt: "")%> </div>
    <label for="btn" class="icon">
        <i class="ri-bar-chart-horizontal-line"></i>
    </label>
    <input type="checkbox" id="btn" >
    <ul>
        <li><a href="#">Home</a></li>
        <li>
            <label for="btn-1" class="show">Features +</label>
            <a href="#">Features</a> 
            <input type="checkbox" id="btn-1">
            <ul>
                <li><a href="#">Pages</a></li>
                <li><a href="#">Elements</a></li>
                <li><a href="#">Icons</a></li>
            </ul>   
        </li>
        <li>
            <label for="btn-2" class="show">Services +</label>
            <a href="#">Services</a>
            <input type="checkbox" id="btn-2">

            <ul>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">App Design</a></li>
                <li>
                    <label for="btn-3" class="show">More +</label>
                    <a href="#">More <i class="ri-add-line"></i></a>
                    <input type="checkbox" id="btn-3">
                    <ul>
                        <li><a href="#">Submenu - 1</a></li>
                        <li><a href="#">Submenu - 2</a></li>
                        <li><a href="#">Submenu - 3</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>