<nav>
    <div class="logo"> <%= image_tag("gemhackWhiteLogo.png", alt: "")%> </div>
    <label for="btn" class="icon">
        <i class="ri-bar-chart-horizontal-line"></i>
    </label>
    <input type="checkbox" id="btn" >
    <ul>
        <li>
            <label for="btn-1" class="show">Services +</label>
            <a href="#">Services</a> 
            <input type="checkbox" id="btn-1">
            <ul>
                <li><a href="#">Web Dev</a></li>
                <li><a href="#">Data Science</a></li>
                <li><a href="#">Business</a></li>
            </ul>   
        </li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>