<a href="#" class="logo"><i class="ri-home-heart-fill"></i><span>GEMHACK</span></a>

<ul class="navegacion">
    <li><a href="#" class="active">Home</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Contact</a></li>
</ul>

<div class="main">
    <a href="#" class="user"><i class="ri-user-fill"></i>Sign In</a>
    <a href="#">Register</a>
    <div class="bx bx-menu" id="menu-icon"></div>
</div>